[submodule "components/esp-nn"]
	path = components/esp-nn
	url = git@github.com:espressif/esp-nn.git
[submodule "components/esp-tflite-micro"]
	path = components/esp-tflite-micro
	url = git@github.com:karz0n/esp-tflite-micro.git
[submodule "components/esp-kissfft"]
	path = components/esp-kissfft
	url = git@github.com:karz0n/esp-kissfft.git
